<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="/routes/productos.js" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      nombre:
      <input type="text" name="nombre" value="{{ producto.nombre }}" />
      descripcion :
      <input type="text" name="contenido" value="{{ producto.contenido }}" />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
